<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stars</title>
  <link rel="stylesheet" href="">
</head>
<body style= 'background-color: green; color: tan; margin: 30px;'>
  <h1>is x-files the same as star wars?</h1>
  <div>
      <% truth.forEach(function(value){ %>
      <p><%=value.city%></p>
      <p><%=value.state%></p>
      <p><%=value.shape%></p>
      <p><%=value.date%></p>
      <p><%=value.duration%></p>
      <p><%=value.description%></p>
      <% }) %>
  </div>

</body>
</html>
